[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_version = "2.7"

[scripts]
freeze = "pip freeze"

[dev-packages]
coverage = "*"

[packages]
django-bootstrap-templatetags = {git = "https://github.com/pivotal-energy-solutions/django-bootstrap-templatetags",ref = "2f60b61434b6f2d38968f44422045f8da0ec9a1d"}
Django = "==1.11.18"
Django-Select2 = "==6.3.1"
