[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_version = "2.7"

[scripts]
manage = "./manage.py"
django = "./manage.py runserver"
collectstatic = "./manage.py collectstatic --no-input --clear"
celery = "celery worker -A celeryapp -E -B -Q celery,priority,localhost"
deploy = "deploy.py -s -g"
freeze = "pip freeze"

[dev-packages]
coverage = "*"
mock = "==2.0.0"
pipdeptree = "==0.13.1"
prospector = "*"

[packages]
beautifulsoup4 = "==4.6.3"
bleach = "==3.0.2"
boto = "==2.49.0"
boto3 = "==1.9.61"
celery = "==4.2.1"
configparser = "==3.5.0"
colorlog = "==3.1.4"
django-crispy-forms = "==1.7.2"
django-datatable-view = "==0.9.0"
django-appsearch = "==1.1.3"
django-company-registration = "==1.1.6"
django-extensions = "==2.1.3"
django-extra-views = "==0.7.1"
django-filter = "==1.1.0"
django-impersonate = "==1.3"
django-localflavor = "==1.2"
django-mysql = "==2.4.1"
django-oidc-provider = "==0.7.0"
django-passwords = "==0.3.12"
django-picklefield = "==0.3.2"
django-s3-folder-storage = "==0.3"
django-simple-history = "==2.4.0"
django-storages = "==1.4.1"
django-timezone-field = "==3.0"
django-url-filter = "==0.3.4"
djangorestframework = "==3.8.2"
jsonfield = "==2.0.2"
logutils = "==0.3.5"
lxml = "==4.2.5"
mysqlclient = "==1.3.13"
ndg-httpsclient = "==0.4.0"
openpyxl = "==2.4.8"
pivotal-app-metrics = "==1.1.0"
pivotal-deepdiff = "==0.6.3"
pivotal-django-states = "==1.6.14"
pivotal-django-zendesk = "==1.1.0"
pivotal-geopy = "==1.0.0"
pivotal-django-celery-monitor = "==1.1.3"
psutil = "==5.4.8"
pypdftk = "==0.3"
pymssql = "==2.1.3"
python-dateutil = "==2.7.5"
python-memcached = "==1.57"
pytz = "==2018.6"
reportlab = "==3.5.12"
requests = "==2.20.1"
responses = "==0.10.4"
six = "==1.11.0"
sqlparse = "==0.1.19"
tzlocal = "==1.5.1"
wrapt = "==1.10.11"
xmltodict = "==0.10.1"
zdesk = "==2.4.0"
paramiko = "==1.16.0"
chardet = "==3.0.4"
django-bootstrap-templatetags = {git = "https://github.com/pivotal-energy-solutions/django-bootstrap-templatetags",ref = "2f60b61434b6f2d38968f44422045f8da0ec9a1d"}
django-easytag = {git = "https://github.com/tiliv/django-easytag",ref = "d9538fed6acb3b5e0043578e473259fb61cf6058"}
django-input-collection = {editable = true,git = "https://github.com/pivotal-energy-solutions/django-input-collection",ref = "4a1038f309fb9a9e27da0dbdf8d5f5d2d15df95c"}
Django = "==1.11.18"
django_celery_beat = "==1.3.0"
django_celery_results = "==1.0.1"
Django-Select2 = "==6.3.1"
Unidecode = "==1.0.23"
uWSGI = "==2.0.17.1"
Fabric = "==1.11.1"
